<!DOCTYPE html>
<html>
<head>
<title>Circle</title>
</head>
<body>

    # Edit the topbar here
<div style="

    position: fixed;
    right: -20px;
    top: -20px;
    width: 2000px;
    height: 250px;
    background-color: 	#C9A66B;
    border-radius: 10px;
    border: 20px solid #8B4513;

"></div>

    # Edit the sidebar here
<div style="

    position: fixed;
    left: -20px;
    bottom: -20px;
    width: 250px;
    height: 1000px;
    background-color: 	#C9A66B;
    border-radius: 10px;
    border: 20px solid #8B4513;

"></div>

    # Edit the circle here
<div style="

    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-color: #F5EDE4;
    position: relative; 
        left: -375px; 
        top: -375px; 
    border: 20px solid   #8B4513;">

    # Edit the circle text here
    <h1 style="

    color: #E8A38F;
    text-align: center; 
    line-height: 1000px; 
    position: relative; 
        left: 100px; 
        top: 90px;
    font-family: 'Arial', sans-serif;">
        Pink rose cafe
    </h1>

</div>


</body>
</html>