<!DOCTYPE html>
<html>
<head></head>
<title>Circle</title>
</head>
{% block content %}
{% endblock %}
<body>
    # Edit the topbar here
<div style="

    position: fixed;
    right: -20px;
    top: -20px;
    width: 2000px;
    height: 250px;
    background-color: 	#C9A66B;
    border-radius: 10px;
    border: 20px solid #8B4513;

"></div>
    # Edit the sidebar here
<div style="

    position: fixed;
    left: -20px;
    bottom: -20px;
    width: 250px;
    height: 1000px;
    background-color: 	#C9A66B;
    border-radius: 10px;
    border: 20px solid #8B4513;

"></div>

    # Edit the circle here
<div style="

    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-color: #F5EDE4;
    position: relative; 
        left: -375px; 
        top: -375px; 
    border: 20px solid   #8B4513;">

    # Edit the circle text here
    <h1 style="

    color: #E8A38F;
    text-align: center; 
    line-height: 1000px; 
    position: relative; 
        left: 100px; 
        top: 90px;
    font-family: 'Arial', sans-serif;
    ">
        <head>
        <a href="{% url 'home' %}" class="button" style="color: #E8A38F; text-decoration: none;">
        Pink rose cafe
        </a>
        </head>
    </h1>
    # edit the home button here

<div style="
    position: fixed;
    bottom: 430px;
    left: 20px;
    width: 200px;
    height: 50px;
    background-color: 	#C9A66B;
    border-radius: 10px;
    border: 5px solid #8B4513;
">

    <h1 style="

        color: #FAF6F0;
        text-align: center; 
        line-height: 10px; 
        font-family: 'Arial', sans-serif;
        ">
            <a href="{% url 'home' %}" class="button" style="color: #FAF6F0; text-decoration: none;">Home</a>
    </h1>
</div>


<div href="{% url 'order_list' %}" style="
    position: fixed;
    bottom: 350px;
    left: 20px;
    width: 200px;
    height: 50px;
    background-color: 	#C9A66B;
    border-radius: 10px;
    border: 5px solid #8B4513;
">

    <h1 style="
        color: #FAF6F0;
        text-align: center; 
        line-height: 10px; 
        font-family: 'Arial', sans-serif;
        ">
            <a href="{% url 'base' %}" class="button" style="color: #FAF6F0; text-decoration: none;">Base</a>
    </h1>
</div>

    <div href="{% url 'order_list' %}" style="
    position: fixed;
    bottom: 270px;
    left: 20px;
    width: 200px;
    height: 50px;
    background-color: 	#C9A66B;
    border-radius: 10px;
    border: 5px solid #8B4513;
">

    <h1 style="
        color: #FAF6F0;
        text-align: center; 
        line-height: 10px; 
        font-family: 'Arial', sans-serif;
        ">
            <a href="{% url 'order_list' %}" class="button" style="color: #FAF6F0; text-decoration: none;">Order</a>
    </h1>
</div>

</div>

    <div href="{% url 'order_list' %}" style="
    position: fixed;
    bottom: 190px;
    left: 20px;
    width: 200px;
    height: 50px;
    background-color: 	#C9A66B;
    border-radius: 10px;
    border: 5px solid #8B4513;
">

    <h1 style="
        color: #FAF6F0;
        text-align: center; 
        line-height: 10px; 
        font-family: 'Arial', sans-serif;
        ">
            <a href="{% url 'base' %}" class="button" style="color: #FAF6F0; text-decoration: none;">Events</a>
    </h1>
</div>

</div>

    <div href="{% url 'order_list' %}" style="
    position: fixed;
    bottom: 110px;
    left: 20px;
    width: 200px;
    height: 50px;
    background-color: 	#C9A66B;
    border-radius: 10px;
    border: 5px solid #8B4513;
">

    <h1 style="
        color: #FAF6F0;
        text-align: center; 
        line-height: 10px; 
        font-family: 'Arial', sans-serif;
        ">
            <a href="{% url 'base' %}" class="button" style="color: #FAF6F0; text-decoration: none;">Contact</a>
    </h1>
</div>

</div>

    <div href="{% url 'order_list' %}" style="
    position: fixed;
    bottom: 30px;
    left: 20px;
    width: 200px;
    height: 50px;
    background-color: 	#C9A66B;
    border-radius: 10px;
    border: 5px solid #8B4513;
">

    <h1 style="
        color: #FAF6F0;
        text-align: center; 
        line-height: 10px; 
        font-family: 'Arial', sans-serif;
        ">
            <a href="{% url 'base' %}" class="button" style="color: #FAF6F0; text-decoration: none;">About</a>
    </h1>
</div>




</body>
</html>