{% extends 'cafe/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Order List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cafe.css' %}">
</head>
<body>
    <h1>Order List</h1>
    {% for order in orders %}
        <div class="order">
            <p>Drink: {{ order.name }}</p>
            <p>Price: {{ order.price }}</p>
            <img src="{% static 'icons/coffee_cup.png' %}" alt="Coffee Cup" width="100">
        </div>
    {% endfor %}
</body>
</html>
