
h1 a, h2 a {
    color: #C25100;
    font-family: 'Arial', sans-serif;
    padding-left: 300px;
    padding-top: 300px;
    
}

body {
    padding-left: 300px;
    padding-top: 300px;
    color: #C25100;
}